*:after,
*:before,
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  font-family: "system-ui", "sans-serif";
}

.row {
  max-width: 1100px;
  margin: auto;
}

.section__title {
  font-size: 200%;
  margin-bottom: 1rem;
  color: #252b46;
  text-align: center;
}

.section__desc {
  color: #9194a1;
  text-align: center;
  margin: auto;
  font-size: 18px;
  margin-bottom: 2rem;
  width: 50%;
  line-height: 1.5;
}

.btn {
  padding: 0.8rem 1.5rem;
  color: #fff;
  font-weight: 500;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  display: inline-block;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}

.btn:hover {
  color: #5368df;
  border-color: #5368df;
  background: transparent;
}

.btn__primary {
  border-color: #5368df;
  background: #5368df;
}

.btn__primary:hover {
  border-color: #5368df;
  color: #5368df;
}

.btn__danger {
  border-color: #fa5757;
  background: #fa5757;
}

.btn__danger:hover {
  border-color: #fa5757;
  color: #fa5757;
}

.btn__neutral {
  background: #fff;
  color: #9194a1;
  border: 2px solid transparent;
}

.btn__neutral:hover {
  border: 2px solid #9194a1;
  color: #9194a1;
}

.main-header {
  padding: 3rem;
  margin-bottom: 4rem;
}

.main-header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header li {
  display: inline-block;
  margin-left: 3rem;
}

.main-header .btn {
  padding: 0.6rem 2rem;
}

.main-header li a {
  font-size: 90%;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.main-header li a:hover {
  color: #fa5757;
}

.hero {
  position: relative;
  margin: 5rem 0 8rem 0;
}

.hero .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero h1 {
  font-size: 250%;
  color: #252b46;
}

.hero__text {
  margin: 2rem 0;
  color: #9194a1;
  font-size: 18px;
}

.hero__content {
  padding-right: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero__image {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 1.6;
      -ms-flex: 1.6;
          flex: 1.6;
  width: 60%;
}

.hero__image img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  float: right;
  margin-top: -3rem;
  margin-right: -6rem;
}

.hero:after {
  content: "";
  position: absolute;
  height: 85%;
  width: 40%;
  background: #5368df;
  top: 20%;
  right: 0;
  border-radius: 20rem 0 0 20rem;
}

.features {
  margin-bottom: 3rem;
}

.features .section__title {
  text-align: center;
}

.features .section__desc {
  text-align: center;
}

.features .tabs {
  position: relative;
  margin-bottom: 7rem;
}

.features .tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  text-align: center;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.features .tabs__header h3 {
  margin: auto;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.features .tabs__header h3 a {
  display: block;
  height: 100%;
  padding: 1.4rem 0;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  color: #9194a1;
}

.features .tabs__header h3 a:hover {
  color: #fa5757;
}

.features .tabs__header--active {
  border-bottom: 4px solid #fa5757 !important;
}

.features .tabs__header--active a {
  color: #252b46 !important;
}

.features .tabs .tab {
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
}

.features .tabs .tab:after {
  content: "";
  position: absolute;
  height: 85%;
  width: 40%;
  background: #5368df;
  top: 20%;
  right: 0;
  border-radius: 20rem 0 0 20rem;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.features .tabs .tab__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.features .tabs .tab__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
}

.features .tabs .tab__img img {
  display: block;
  width: 100%;
}

.features .tabs .tab__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5rem;
}

.features .tabs .tab__title {
  font-size: 200%;
  color: #252b46;
}

.features .tabs .tab__text {
  margin: 2rem 0;
  color: #9194a1;
}

.download__content {
  margin: 8rem 0rem 2rem 0;
}

.download .browser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  text-align: center;
  margin: auto;
}

.download .browser__card {
  -webkit-box-shadow: 0 2px 10px rgba(145, 148, 161, 0.2);
          box-shadow: 0 2px 10px rgba(145, 148, 161, 0.2);
  border-radius: 10px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.download .browser__card > div:first-child {
  padding: 2rem 0;
  line-height: 2;
}

.download .browser__card > div:first-child h3 {
  color: #252b46;
  font-size: 120%;
}

.download .browser__card > div:first-child img {
  margin: 1rem 2rem;
}

.download .browser__card--link {
  padding: 1.5rem;
}

.download .browser__card:first-child {
  margin-right: 2rem;
}

.download .browser__card:last-child {
  margin-left: 2rem;
}

.download .browser__card--divider {
  height: 3px;
  background-repeat: repeat-x;
  background-image: url("./../images/bg-dots.svg");
  width: 100%;
}

.download .browser__card .btn {
  display: block;
  width: 100%;
  font-size: 90%;
}

.download .browser__card--2 {
  margin-top: 5rem;
}

.download .browser__card--3 {
  margin-top: 10rem;
}

.faqs {
  margin: 5rem auto;
  text-align: center;
}

.faqs .questions {
  margin-bottom: 4rem;
}

.faqs .question {
  margin: auto;
  width: 50%;
  text-align: left;
}

.faqs .question:first-child header {
  border-top: 1px solid #dadada;
}

.faqs .question__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #252b46;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dadada;
  cursor: pointer;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  padding: 1.5rem 0;
}

.faqs .question__header:hover {
  color: #fa5757;
}

.faqs .question__header--icon {
  width: 20px;
  height: 10px;
}

.faqs .question__answer {
  line-height: 2;
  padding: 2rem 0;
  display: none;
}
/*# sourceMappingURL=style.css.map */