*:after,
*:before,
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  font-family: inherit;
}

button,
input[type="submit"] {
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: "Rubik", "sans-serif";
}

.row {
  max-width: 1100px;
  margin: auto;
}

.section__title {
  font-size: 200%;
  margin-bottom: 1rem;
  color: #252b46;
  text-align: center;
}

.section__desc {
  color: #9194a1;
  text-align: center;
  margin: auto;
  font-size: 18px;
  margin-bottom: 2rem;
  width: 50%;
  line-height: 1.5;
}

.btn {
  padding: 0.8rem 1.5rem;
  color: #fff;
  font-weight: 500;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  display: inline-block;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}

.btn:hover {
  color: #5368df;
  border-color: #5368df;
  background: transparent;
}

.btn__primary {
  border-color: #5368df;
  background: #5368df;
}

.btn__primary:hover {
  border-color: #5368df;
  color: #5368df;
}

.btn__danger {
  border-color: #fa5757;
  background: #fa5757;
}

.btn__danger:hover {
  border-color: #fa5757;
  color: #fa5757;
}

.btn__neutral {
  background: #fff;
  color: #9194a1;
  border: 2px solid transparent;
}

.btn__neutral:hover {
  border: 2px solid #9194a1;
  color: #9194a1;
}

.main-header {
  padding: 3rem;
  margin-bottom: 4rem;
}

.main-header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header .menu-icon {
  display: none;
}

.main-header .mobile {
  display: none;
}

.main-header li {
  display: inline-block;
  margin-left: 3rem;
}

.main-header .btn {
  padding: 0.6rem 2rem;
}

.main-header li a {
  font-size: 90%;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.main-header li a:hover {
  color: #fa5757;
}

.hero {
  position: relative;
  margin: 5rem 0 8rem 0;
}

.hero .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero h1 {
  font-size: 250%;
  color: #252b46;
}

.hero__text {
  margin: 2rem 0;
  color: #9194a1;
  font-size: 18px;
}

.hero__content {
  padding-right: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero__image {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 1.6;
      -ms-flex: 1.6;
          flex: 1.6;
  width: 60%;
}

.hero__image img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  float: right;
  margin-top: -3rem;
  margin-right: -6rem;
}

.hero:after {
  content: '';
  position: absolute;
  height: 85%;
  width: 40%;
  background: #5368df;
  top: 20%;
  right: 0;
  border-radius: 20rem 0 0 20rem;
}

.features {
  margin-bottom: 3rem;
}

.features .section__title {
  text-align: center;
}

.features .section__desc {
  text-align: center;
}

.features .tabs {
  position: relative;
  margin-bottom: 7rem;
}

.features .tabs:after {
  content: '';
  position: absolute;
  height: 85%;
  width: 40%;
  background: #5368df;
  top: 20%;
  right: 0;
  border-radius: 20rem 0 0 20rem;
  left: 0;
  height: 300px;
  top: 300px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.features .tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  text-align: center;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.features .tabs__header h3 {
  margin: auto;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.features .tabs__header h3 a {
  display: block;
  height: 100%;
  padding: 1.4rem 0;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  color: #9194a1;
}

.features .tabs__header h3 a:hover {
  color: #fa5757;
}

.features .tabs__header--active {
  border-bottom: 4px solid #fa5757 !important;
}

.features .tabs__header--active a {
  color: #252b46 !important;
}

.features .tabs .tab {
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
}

.features .tabs .tab__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.features .tabs .tab__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
}

.features .tabs .tab__img img {
  display: block;
  width: 100%;
}

.features .tabs .tab__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5rem;
}

.features .tabs .tab__title {
  font-size: 200%;
  color: #252b46;
}

.features .tabs .tab__text {
  margin: 2rem 0;
  color: #9194a1;
  line-height: 1.5;
}

.download__content {
  margin: 8rem 0rem 2rem 0;
}

.download .browser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  text-align: center;
  margin: auto;
}

.download .browser__card {
  -webkit-box-shadow: 0 2px 10px rgba(145, 148, 161, 0.2);
          box-shadow: 0 2px 10px rgba(145, 148, 161, 0.2);
  border-radius: 10px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.download .browser__card > div:first-child {
  padding: 2rem 0;
  line-height: 2;
}

.download .browser__card > div:first-child h3 {
  color: #252b46;
  font-size: 120%;
}

.download .browser__card > div:first-child img {
  margin: 1rem 2rem;
}

.download .browser__card--link {
  padding: 1.5rem;
}

.download .browser__card:first-child {
  margin-right: 2rem;
}

.download .browser__card:last-child {
  margin-left: 2rem;
}

.download .browser__card--divider {
  height: 3px;
  background-repeat: repeat-x;
  background-image: url("./../images/bg-dots.svg");
  width: 100%;
}

.download .browser__card .btn {
  display: block;
  width: 100%;
  font-size: 90%;
}

.download .browser__card--2 {
  margin-top: 5rem;
}

.download .browser__card--3 {
  margin-top: 10rem;
}

.faqs {
  margin: 5rem auto;
  text-align: center;
}

.faqs .questions {
  margin-bottom: 4rem;
}

.faqs .question {
  margin: auto;
  width: 50%;
  text-align: left;
}

.faqs .question:first-child header {
  border-top: 1px solid #dadada;
}

.faqs .question__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #252b46;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dadada;
  cursor: pointer;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  padding: 1.5rem 0;
}

.faqs .question__header:hover {
  color: #fa5757;
}

.faqs .question__header--icon {
  width: 20px;
  height: 10px;
}

.faqs .question__answer {
  line-height: 2;
  padding: 2rem 0;
  display: none;
}

.contact {
  background: #5368df;
  color: #fff;
}

.contact .row {
  text-align: center;
  padding: 5rem 0;
  line-height: 1.5;
  width: 35%;
}

.contact h2 {
  font-size: 200%;
  margin: 2rem;
}

.contact__members {
  font-size: 95%;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form input {
  display: block;
}

.contact__form input[type='email'] {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  margin-right: 1rem;
  padding: 8px 15px;
  border-radius: 5px;
}

.contact__form input[type='submit'] {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.contact__form input[type='submit']:hover {
  background: #fff;
}

.contact__form input[type='submit']::-webkit-input-placeholder {
  color: #9194a1;
}

.contact__form input[type='submit']:-ms-input-placeholder {
  color: #9194a1;
}

.contact__form input[type='submit']::-ms-input-placeholder {
  color: #9194a1;
}

.contact__form input[type='submit']::placeholder {
  color: #9194a1;
}

.main-footer {
  background: #252b46;
}

.main-footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer__nav li {
  margin-left: 4rem;
  display: inline-block;
}

.main-footer__nav li a {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  color: #fff;
}

.main-footer__nav li a:hover {
  color: #fa5757;
}

.main-footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer__social-icons p {
  margin-left: 2rem;
}

.main-footer__social-icons p path {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.main-footer__social-icons p svg:hover path {
  fill: #fa5757;
}

@media (max-width: 850px) {
  .row {
    padding: 1rem 0;
  }
  .main-header {
    margin-bottom: 0;
    padding: 0 1.5rem;
  }
  .features .section__desc {
    width: 80%;
  }
  .hero {
    margin: auto;
  }
  .hero .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero:after {
    height: 30%;
    width: 70%;
    top: 10%;
  }
  .hero__content {
    padding: 1rem 2rem;
    text-align: center;
  }
  .hero__image {
    display: block;
    width: 100%;
  }
  .hero__image img {
    margin: auto;
  }
  .download__content {
    margin: 8rem 0rem 2rem 0;
  }
  .download .browser {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
    margin: auto;
    display: block;
  }
  .download .browser__card {
    margin: auto;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
  .download .browser__card > div:first-child {
    padding: 2rem 0;
  }
  .download .browser__card:first-child, .download .browser__card:last-child {
    margin: 0 0 2rem 0;
  }
  .contact .row {
    width: 80%;
  }
  .section {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .section__desc {
    width: 100%;
  }
  .faqs .question {
    width: 100%;
  }
  .features .tabs .row {
    padding: 0;
  }
  .features .tabs:after {
    display: none;
  }
  .features .tabs__header {
    width: 100%;
    display: block;
  }
  .features .tabs .tab__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .tabs .tab__title {
    font-size: 150%;
  }
  .features .tabs .tab__body {
    padding: 0;
    text-align: center;
  }
  .features .tabs .tab__img {
    padding: 0;
    margin-bottom: 2rem;
  }
  .main-footer .row {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (max-width: 730px) {
  .main-header {
    padding: 3rem;
    margin-bottom: 0;
  }
  .main-header .main-nav {
    display: none;
  }
  .main-header .menu-icon {
    display: block;
  }
  .hero h1 {
    font-size: 200%;
  }
  .hero__image {
    text-align: center;
  }
  .hero__image img {
    width: 95%;
    margin: auto;
  }
  .contact h2 {
    font-size: 150%;
  }
  .contact .row {
    width: 95%;
  }
  .contact__form {
    padding: 0 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  .contact__form input[type='email'] {
    padding: 15px;
  }
  .contact__form .btn {
    margin-top: 0.5rem;
  }
  .main-footer .row, .main-footer__logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-footer__nav, .main-footer__social-icons, .main-footer__logo {
    margin-bottom: 0 0 2rem 0;
    text-align: center;
  }
  .main-footer__nav li {
    display: block;
    margin: 1.5rem 0;
  }
  .main-footer__social-icons p {
    margin: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */