// 1. Colors
$grayish-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue-neutral: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);

$accent: $grayish-blue;
$danger: $soft-red;
$neutral: $grayish-blue-neutral;
$dark-accent: $dark-blue;

// 2. Typograpgy
// (https://fonts.google.com/specimen/Rubik)
// $font-stack: "system-ui", "sans-serif";
$font-stack: 'Rubik', 'sans-serif';
$font-size: 18px;
$font-weight-normal: 400;
$font-weight-bold: 500;

// 3. Mixins

@mixin section-background {
  content: '';
  position: absolute;
  height: 85%;
  width: 40%;
  background: $grayish-blue;
  top: 20%;
  right: 0;
  border-radius: 20rem 0 0 20rem;
}

//4. Animations
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
