@import "variables";
@import "reset";

body {
  font-family: $font-stack;
}

// Utilities
.row {
  max-width: 1100px;
  margin: auto;
}

.section {
  &__title {
    font-size: 200%;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__desc {
    text-align: center;
    margin: auto;
    font-size: $font-size;
    margin-bottom: 2rem;
    width: 50%;
    line-height: 1.5;
  }
}

.btn {
  padding: 0.8rem 1.5rem;
  color: #fff;
  font-weight: $font-weight-bold;
  transition: 0.4s ease-out;
  display: inline-block;
  border: {
    radius: 5px;
    width: 2px;
    style: solid;
  }

  &:hover {
    color: $accent;
    border-color: $accent;
    background: transparent;
  }

  &__primary {
    border-color: $accent;
    background: $accent;
    &:hover {
      border-color: $accent;
      color: $accent;
    }
  }

  &__danger {
    border-color: $danger;
    background: $danger;
    &:hover {
      border-color: $danger;
      color: $danger;
    }
  }

  &__neutral {
    background: #fff;
    color: $neutral;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid $neutral;
      color: $neutral;
    }
  }
}

// Main Header
.main-header {
  padding: 3rem;
  margin-bottom: 2rem;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li {
    display: inline-block;
    margin-left: 2rem;
  }

  li a {
    font-size: 90%;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.4s ease-out;
    &:hover {
      color: $danger;
    }
  }
}
// Main header end

.hero {
  position: relative;
  margin: 5rem 0 8rem 0;
  .row {
    display: flex;
    > * {
      flex: 1;
    }
  }

  h1 {
    font-size: 250%;
    color: $dark-blue;
  }

  &__text {
    margin: 2rem 0;
    font-size: $font-size;
  }

  &__content {
    padding-right: 3rem;
  }

  &__image {
    position: relative;
    z-index: 10;
    img {
      width: 100%;
      float: right;
      margin-top: -3rem;
      margin-right: -6rem;
    }
  }

  &:after {
    @include section-background;
  }
}

.features {
  margin-bottom: 3rem;

  .section {
    &__title {
      text-align: center;
      color: $dark-accent;
    }

    &__desc {
      text-align: center;
    }
  }

  .tabs {
    position: relative;
    margin-bottom: 7rem;
    &__header {
      display: flex;
      width: 65%;
      text-align: center;
      margin: auto;
      align-items: center;
      margin-bottom: 5rem;

      h3 {
        margin: auto;
        width: 100%;
        border-bottom: 1px solid #ccc;
      }

      h3 a {
        display: block;
        height: 100%;
        padding: 1.4rem 0;
        transition: 0.4s ease-out;
        color: $grayish-blue-neutral;
        &:hover {
          color: $danger;
        }
      }

      &--active {
        a {
          color: $dark-accent !important;
        }
        border-bottom: 4px solid $danger !important;
      }
    }

    .tab {
      margin-bottom: 2rem;
      z-index: 10;
      position: relative;
      &:after {
        @include section-background;
        left: 0;
        transform: rotate(180deg);
      }
      &__content {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
      }

      &__img {
        flex: 1;
        padding: 2rem;
        img {
          display: block;
          width: 100%;
        }
      }

      &__body {
        flex: 1;
        padding: 0 5rem;
      }

      &__title {
        font-size: 200%;
        color: $dark-accent;
      }

      &__text {
        margin: 2rem 0;
        color: $grayish-blue-neutral;
      }
    }
  }
}

.download {
  &__content {
    margin: 10rem 0rem 4rem 0;
  }

  .browser {
    display: flex;
    align-items: center;
    width: 85%;
    text-align: center;
    margin: auto;

    &__card {
      box-shadow: 0 2px 10px rgba($grayish-blue-neutral, 0.2);
      border-radius: 10px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;

      > div:first-child {
        padding: 2rem 0;
        line-height: 2;
        h3 {
          color: $dark-accent;
          font-size: 120%;
        }
        img {
          margin: 1rem 2rem;
        }
      }

      &--link {
        padding: 1.5rem;
      }

      &:first-child {
        margin-right: 2rem;
      }

      &:last-child {
        margin-left: 2rem;
      }

      &--divider {
        height: 3px;
        background: {
          repeat: repeat-x;
          image: url("./../images/bg-dots.svg");
        }
        width: 100%;
      }

      .btn {
        display: block;
        width: 100%;
        font-size: 90%;
      }

      &--1 {
      }

      &--2 {
        margin-top: 5rem;
      }
      &--3 {
        margin-top: 10rem;
      }
    }
  }
}
